@theme {
    --color-brand-50: #e8f7ff;
    --color-brand-100: #c6eaff;
    --color-brand-200: #99d7ff;
    --color-brand-300: #61c0ff;
    --color-brand-400: #2ba7ff;
    --color-brand-500: #0d8ded;
    --color-brand-600: #0071c4;
    --color-brand-700: #005899;
    --color-brand-800: #044a80;
    --color-brand-900: #0a3f6b;
    --color-brand-950: #062844;
}